* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.projects {
  margin: 100px auto;
  font-size: larger;
  max-width: 1200px;
}

.projects h1 {
  color: rgb(219, 30, 50);
  margin-bottom: 35px;
}
.projectBoxes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.pBox {
  width: 380px;
  height: 255px;
  filter: grayscale(80%);
  margin: 30px 0;
  transition: 0.3s ease-in-out;
}
.pBox:hover {
  filter: grayscale(20%);
  cursor: pointer;
  transform: translateY(-3px);
}
.pBox:hover h4 {
  filter: grayscale(0%);
  color: rgb(219, 30, 50);
}
.pBox h4 {
  margin-bottom: 12px;
  color: rgb(141, 138, 134);
  font-weight: normal;
  transition: 0.3s ease-in-out;
}
.pBox img {
  width: 380px;
  height: 255px;
  object-fit: cover;
  border-radius: 8%;
}

.loading p {
  font-size: larger;
  color: rgb(219, 30, 50);
}

@media (max-width: 768px) {
  .projectBoxes {
    text-align: center;
    max-width: 100%;
  }
  .projects {
    margin-top: 90px;
    text-align: center;
    max-width: 90%;
  }

  .projects h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .pBox {
    margin: 35px auto;
    max-width: 350px;
    text-align: center;
  }
  .pBox img {
    width: 350px;
  }

  .pBox h4 {
    font-size: 20px;
    margin-bottom: 8px;
  }
}
