.burger-menu {
  display: none;
}
@media (max-width: 768px) {
  .burger-menu {
    display: block;
    cursor: pointer;
  }

  .navbari ul.active {
    display: block;
    margin: 30vh;
    width: 90%;
  }
  .navbari img.hidden {
    display: none;
  }
  .navbari h1 {
    display: none;
  }
  .navbari h1.active {
    display: block;
    position: absolute;
    font-size: 35px;
    top: 10px;
    right: 25px;
    opacity: 0.7;
  }

  .navbari h1.active:hover {
    cursor: pointer;
  }

  .bar {
    width: 45px;
    height: 6px;
    background-color: rgb(219, 30, 50);
    margin: 5px 0;
    border-radius: 2px;
    z-index: 999;
  }
  .burger-menu.hidden {
    display: none;
  }
  .nb {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid rgb(219, 30, 50);
    background-color: rgba(255, 255, 255, 0.81);
    text-align: center;
  }

  .navbari.active {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
  }

  .nb.active {
    display: flex;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
  }

  .navbari {
    padding-top: 2vh;
    padding-bottom: 1vh;
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .navbari img {
    height: 45px;
    text-align: center;
  }
  .navbari ul {
    display: none;
    list-style-type: none;
    font-size: large;
    text-align: center;
  }
  .navbari ul li a {
    font-size: x-large;
    padding: 0;
    margin: 0;
  }
  .navbari ul li {
    margin-top: 10px;
  }
  .wrapper {
    height: 70vh;
  }

  .boxes {
    display: block;
    width: 90%;
    padding-top: 60px;
  }

  .boxes img {
    display: none;
    /* width: 90%;
    text-align: center;
    margin-top: 50px;
    margin: auto;
    border-radius: 5%; */
  }

  .text {
    max-width: 85%;
    margin: auto;
    text-align: center;
  }
  .aboutUsText {
    max-width: 85%;
  }
  .wwdBox {
    margin: auto;
  }
  .wwdBoxes {
    max-width: 85%;
    display: block;
    margin-bottom: 0;
    margin: auto;
  }
  .aboutUsWhatWeDo {
    padding-bottom: 0;
  }

  footer {
    padding-top: 0;
    margin-top: 0px;
    border-top: none;
  }
  .upperfooter {
    display: none;
  }
  .upperfooter img {
    display: none;
  }

  .lowfooter {
    justify-content: center;
    text-align: center;
    display: grid;
    padding: 0;
  }
  .lowfooter p {
    grid-row: 2;
    padding: 0;
    margin-bottom: 25px;
  }
  .icons {
    grid-row: 1;
    text-align: center;
    margin: 10px auto;
    max-width: 150px;
    justify-content: space-between;
  }
  .icons a {
    text-align: center;
    padding: 0 15px;
    justify-content: space-between;
    /* margin: auto; */
  }
  .aboutUsEdma {
    margin-top: 90px;
    text-align: center;
  }
  .aboutUsEdma img {
    width: 80%;
  }
  .aboutUsContent {
    flex-direction: column;
    text-align: center;
  }
  .aboutUsText {
    margin-top: 35px;
  }
  .wwdBox {
    text-align: center;
  }
  .login {
    margin: 0 auto;
    max-width: 80%;
  }
  .loginContent {
    flex-direction: column;
    text-align: center;
  }
  iframe {
    max-width: 80%;
    max-height: 330px;
    margin: auto;
  }
  form {
    padding-top: 35px;
    text-align: center;
    max-width: 80%;
    margin: auto;
    margin-bottom: 15px;
  }
  form input {
    max-width: 100%;
  }
  form li {
    max-width: 100%;
  }
  #submit-btn {
    margin-bottom: 0;
  }
}
