@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #eee;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  background-image: url(/images/hero-image-main.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.nb {
  position: fixed;
  top: 0;
  left: 0;
  /* margin: auto; */
  width: 100%;
  border-bottom: 2px solid rgb(219, 30, 50);
  background-color: rgba(255, 255, 255, 0.81);
  z-index: 999;
}
.navbari {
  margin: auto;
  display: flex;
  justify-content: space-between;
  max-width: 1800px;
  padding: 0.5% 11%;
  align-items: center;
  z-index: 999;
}
.navbari img {
  height: 50px;
}
.navbari ul {
  display: flex;
  list-style-type: none;
}
.navbari ul li a {
  margin-left: 20px;
  font-size: 17px;
  color: rgb(141, 138, 134);
  text-decoration: none;
  transition: 0.3s ease-in-out;
  font-family: "Poppins", sans-serif;
}
.navbari ul li a:hover {
  color: rgb(219, 30, 50);
}
.boxes {
  padding-top: 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1400px;
  margin: auto;
}

.text {
  width: 650px;
  font-size: larger;
}
.text h1 {
  color: rgb(219, 30, 50);
}

.text p {
  color: rgb(141, 138, 134);
}

.boxes img {
  width: 500px;
}
.boxes img:hover {
  filter: brightness(0.85);
  transition: 0.7s;
}
.text button {
  margin-top: 20px;
  background-color: rgb(219, 30, 50);
  background-image: linear-gradient(-180deg, rgb(219, 30, 50));
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial,
    sans-serif;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 25px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  z-index: 9;
  border: 0;
  transition: box-shadow 0.2s;
  width: 20%;
}

.text button:hover {
  box-shadow: rgba(253, 30, 0, 0.5) 0 3px 8px;
  color: rgb(219, 30, 50);
  background-color: #fff !important;
  border: 1px solid rgb(219, 30, 50);
}
.lf {
  width: 100%;
  border-top: rgb(219, 30, 50) 2px solid;
  margin-top: 25px;
}
.lowfooter {
  margin-top: 35px;
  margin-bottom: 0;
  padding: 20px 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}
path:hover {
  fill: rgb(219, 30, 50);
}
path {
  transition: 0.3s ease-in-out;
}

.icons a {
  padding: 0 6px;
}
.icons {
  display: flex;
}
.lowfooter p strong {
  color: rgb(219, 30, 50);
}
/* aboutus */
.aboutUsEdma {
  margin-top: 100px;
  font-size: larger;
  text-align: center;
}
.aboutUsEdma h1 {
  color: rgb(219, 30, 50);
}
.aboutUsEdma p {
  margin-top: 50px;
  font-size: larger;
}
.aboutUsEdma img {
  margin-top: 35px;
  width: 650px;
}

.aboutUsContent {
  display: flex;
  align-items: center;
  /* text-align: center; */
  justify-content: space-evenly;
  max-width: 1300px;
  margin: auto;
}
.aboutUsSlider {
  max-width: 600px;
}
.aboutUsSlider img {
  max-width: 600px;
}
.aboutUsText {
  max-width: 500px;
}
.aboutUsText h2 {
  color: rgb(219, 30, 50);
}
.aboutUsText p {
  margin-top: 20px;
  color: rgb(141, 138, 134);
}

/* about us what we do */

.aboutUsWhatWeDo {
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 1400px;
  margin: auto;
}
.wwdText {
  font-size: larger;
}
.wwdText h1 {
  text-align: center;
  color: rgb(219, 30, 50);
  margin-top: 20px;
}
.wwdText p {
  text-align: center;
  color: rgb(141, 138, 134);
}

.wwdBoxes {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}

.wwdBox {
  max-width: 400px;
  align-content: center;
}

.imgContainer {
  width: 100%;
  text-align: center;
}
.imgContainer img {
  border-radius: 15%;
}
.imgContainerIndex {
  width: 100%;
  text-align: center;
}
.imgContainer h4 {
  margin-top: 20px;
  color: rgb(219, 30, 50);
}
.wwdBox p {
  margin-top: 20px;
  color: rgb(141, 138, 134);
}

.imgContainer:hover {
  transform: translateY(-5px);
  filter: brightness(0.9);
  cursor: pointer;
}
.imgContainer:hover p {
  color: rgb(219, 30, 50);
}

.imgContainer {
  transition: 0.5s ease-in-out;
}
.imgContainer p {
  font-size: larger;
  padding: 15px;
  transition: 0.3s ease-in-out;
}
footer {
  padding-top: 35px;
  border-top: 2px solid rgb(219, 30, 50);
  width: 100%;
}
.upperfooter {
  margin: auto;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
}
.upperfooter img {
  height: 60px;
}
.upperfooter ul li a {
  color: rgb(141, 138, 134);
  text-decoration: none;
  transition: 0.5s ease-in-out;
}
.upperfooter ul li p {
  color: rgb(141, 138, 134);
  text-decoration: none;
}
.upperfooter ul h1 {
  padding: 20px 0;
  color: rgb(219, 30, 50);
}

.upperfooter ul li {
  list-style-type: none;
  padding: 5px;
}
.upperfooter ul li a:hover {
  color: rgb(219, 30, 50);
}

.upperfooter ul li p:hover {
  color: rgb(219, 30, 50);
}
