* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  background-color: #eee;
}

.wrapper {
  background-image: url(/images/hero-image-main.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.navbari {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(219, 30, 50);
  width: 100%;
  padding: 0.5% 11%;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.81);
  z-index: 999;
}
.navbari img {
  height: 50px;
}
.navbari ul {
  display: flex;
  list-style-type: none;
}
.navbari ul li a {
  padding-left: 20px;
  font-family: robota;
  font-size: 17px;
  color: rgb(141, 138, 134);
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
.navbari ul li a:hover {
  color: rgb(219, 30, 50);
}
.boxes {
  padding-top: 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1400px;
  margin: auto;
}

.text {
  width: 650px;
  font-size: larger;
}
.text h1 {
  color: rgb(219, 30, 50);
}
.text p {
  color: rgb(141, 138, 134);
}

.boxes img {
  width: 500px;
}
.boxes img:hover {
  filter: brightness(0.85);
  transition: 0.7s;
}
.text button {
  margin-top: 20px;

  background-color: rgb(219, 30, 50);
  background-image: linear-gradient(-180deg, #ff6831, rgb(219, 30, 50));
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial,
    sans-serif;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  z-index: 9;
  border: 0;
  transition: box-shadow 0.2s;
  width: 20%;
}

.text button:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}
.lowfooter {
  height: 70px;
  margin-bottom: 0;
  border-top: rgb(219, 30, 50) 2px solid;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}
.lowfooter p {
  margin-top: 7px;
}

path:hover {
  fill: rgb(219, 30, 50);
}
path {
  transition: 0.3s ease-in-out;
}

.icons a {
  padding: 0 6px;
}
.icons {
  display: flex;
}
.lowfooter p strong {
  color: rgb(219, 30, 50);
}
/* aboutus */
.aboutUsEdma {
  margin-top: 100px;
  font-size: larger;
  text-align: center;
}
.aboutUsEdma h1 {
  color: rgb(219, 30, 50);
}
.aboutUsEdma p {
  margin-top: 50px;
  font-size: larger;
}
.aboutUsEdma img {
  margin-top: 35px;
  width: 650px;
}

.aboutUsContent {
  display: flex;
  align-items: center;
  /* text-align: center; */
  justify-content: space-evenly;
  max-width: 1300px;
  margin: auto;
}
.aboutUsSlider {
  max-width: 600px;
}
.aboutUsSlider img {
  max-width: 600px;
}
.aboutUsText {
  max-width: 500px;
  font-size: larger;
}
.aboutUsText h2 {
  color: rgb(219, 30, 50);
}
.aboutUsText p {
  margin-top: 20px;
  color: rgb(141, 138, 134);
}

/* about us what we do */

.aboutUsWhatWeDo {
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 1400px;
  margin: auto;
}
.wwdText {
  font-size: larger;
}
.wwdText h1 {
  text-align: center;
  color: rgb(219, 30, 50);
  margin-top: 20px;
}
.wwdText p {
  text-align: center;
  color: rgb(141, 138, 134);
}

.wwdBoxes {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}

.wwdBox {
  max-width: 400px;
  align-content: center;
}

.imgContainer {
  width: 100%;
  text-align: center;
}
.imgContainer img {
  border-radius: 15%;
}
.imgContainerIndex {
  width: 100%;
  text-align: center;
}
.imgContainer h4 {
  margin-top: 20px;
  color: rgb(219, 30, 50);
}
.wwdBox p {
  margin-top: 20px;
  color: rgb(141, 138, 134);
}

.imgContainer:hover {
  transform: translateY(-5px);
  filter: brightness(0.9);
}

.imgContainer {
  transition: 0.3s ease-in-out;
}
.imgContainer p {
  font-size: larger;
  padding: 2px;
}

.pic img {
  margin-top: 20px;
  max-width: 15%;
  height: auto;
}

.link {
  margin-top: 40px;
  margin-bottom: 50px;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid rgb(219, 30, 50);
}

.links h3 {
  display: block;
  font-size: 1.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-right: 80px;
}

.links a {
  color: rgb(141, 138, 134);
  text-decoration: none;
  margin-bottom: 15px;
  align-items: center;
  margin-right: 500px;
}

.links {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.info h3 {
  margin-top: 40px;
  display: block;
  font-size: 1.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-right: 80px;
}
.info a,
p {
  margin-bottom: 15px;
  flex-direction: column;
  text-decoration: none;
  color: rgb(141, 138, 134);
}

.contact {
  margin-top: 140px;
  /* border-top: 2px solid red; */
  max-width: 1400px;
}

.contact h1 {
  color: red;
  text-transform: uppercase;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.contact p {
  margin-bottom: 10px;
}

.contact h2 {
  display: block;
  font-size: 50px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 400;
}

.login {
  width: 60%;
  text-align: left;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 0 10px lightcoral;
  /* max-width: 1200px; */
}

.allcontact {
  margin: auto;
  max-width: 800px;
}

.login:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Adjust the box-shadow on hover as desired */
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  outline: none;
  resize: none;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;
}

textarea {
  height: 100px;
}

input[type="name"]:hover {
  border: 1px solid black;
}

input[type="email"]:hover {
  border: 1px solid black;
}

input[type="tel"]:hover {
  border: 1px solid black;
}

textarea:hover {
  border: 1px solid black;
}

button {
  background-color: rgb(219, 30, 50);
  padding: 10px 15px;
  border: 1px solid rgb(219, 30, 50);
  position: relative;
  border-radius: 4px;
  transition: all 0.4s ease-in-out 0s;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: rgb(255, 255, 255);
}

/* Add some responsive styling */
@media (max-width: 768px) {
  .login {
    width: 80%;
  }
}
